/* VozImperio Colors */

:root {
  --color-text: #0a0d0c;
  --color-background: #f2f6f4;
  --color-background-ui: #f0b848;
  --color-logo-primary: #f0b848;
  --color-logo-stroke: #183820;
  --color-text-stroke: #966423;
  --color-mid-gray: #808080;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-text: #f2f6f4;
    --color-background: #0a0d0c;
    --color-logo-primary: #f0b848;
    --color-logo-stroke: #183820;
    --color-text-stroke: #fff7c6;
  }
}
